body{
    background-color:#FF8B20;    
    overflow-x: hidden;
    overflow-y: hidden;
}

div #landing-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}


#content-wrapper h1{
    font-family: 'Titan One' ;
    font-size: 4.8rem;
    width: 150px;
    word-wrap: break-word;
}

img{
    height: 148px;
}

