body {
  overflow-x: hidden;
  overflow-y: hidden;
}

#landing-page {
  background-color: #ff8b20;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing-page img {
  height: 148px;
}
