#level-component {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 5px;
}

#forms #circle {
  background-color: #c4c4c4;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

#level-component a {
  background-color: #16e0bc;
  width: 248px;
  height: 43px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #5f2edb;
  text-decoration: none;
  font: 900 24px "Roboto";
}

a img {
  width: 24px;
}
